/* Footer */
nav {
  width: 100%;
  height: 8vh;
  background: #911F22;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
  bottom: 0;
}

/* Estilos para los íconos de navegación */
nav ul {
  list-style: none;
  display: flex;  
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

nav ul li {
  width: auto;
  height: 57.2px;
  margin: 0;
  padding-left: 4vh;
  padding-right: 4vh;
}
